body{
    font-family: 'Open Sans Condensed', sans-serif;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.inputData{

}


table{
    width: 45vw;
    height: 40vh;
    border: 1px solid black;
    border-spacing: 0;
    border-collapse: collapse;
    border-style: hidden;
    box-shadow: 2px 6px 15px 7px rgba(0,0,0,0.37)
}

td{

    text-align: center;
    width: 14%;
    border: 1px solid black;
}
td:hover{
    background: #34CACA;
}


.sunRedTh, .sunRedTd{
    color: #CC0000;
}


input[type="number"]
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    padding: 7px;
    border: none;
    border-bottom: 2px solid #ddd;
    background: transparent;

    height: 30px;
}

input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}



/*style='color:blue; border:1px solid blue; width:500px; height:300px;*/

